Repository Merrokitsune/ronstation, pull requests merged in 2024-12, with the labels that each got.

#5 Readd Ronstation's Saltern.
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/Maps/_Ronstation/saltern-2.yml
  Resources/Prototypes/_Ronstation/Maps/Pools/ronstation.yml
  Resources/Prototypes/_Ronstation/Maps/saltern-2.yml
Labels: Changes: Config, Changes: YML, Status: Needs Review, Changes: C#, Changes: Map, Priority: 1-Urgent

#1 Ronstation presets.
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Changes: Config, Changes: YML, Status: Needs Review, Priority: 1-Urgent

#3 Changes to certain items, features, and etcetera
  Resources/Locale/en-US/_Ronstation/language/languages.ftl
  Resources/Locale/en-US/_Ronstation/reagents/meta/elements.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/reagents/meta/elements.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Ronstation/Language/FactionSpecific/syndicate.yml
  Resources/Prototypes/_Ronstation/Language/Species-Specific/vox.yml
  Resources/Prototypes/_Ronstation/Reagents/elements.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review, Priority: 3-Medium
