Repository Merrokitsune/ronstation, pull requests merged in 2025-01, with the labels that each got.

#7 Rework roles, take 2
  Resources/Locale/en-US/_Ronstation/job/job-names.ftl
  Resources/Locale/en-US/deltav/job/department.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/nyanotrasen/job/job-description.ftl
  Resources/Locale/en-US/nyanotrasen/job/job-names.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/acolyte.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/noviciate.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/epistemics.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review, Changes: Map, Priority: 1-Urgent

#13 Readd Omega, Atlas, and Cluster.
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_Ronstation/atlas-b.yml
  Resources/Maps/_Ronstation/cluster-funk.yml
  Resources/Maps/_Ronstation/omega-lul.yml
  Resources/Prototypes/_Ronstation/Maps/Pools/ronstation.yml
  Resources/Prototypes/_Ronstation/Maps/atlas-b.yml
  Resources/Prototypes/_Ronstation/Maps/cluster-funk.yml
  Resources/Prototypes/_Ronstation/Maps/omega-lul.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Map, Priority: 3-Medium

#11 Race rework.
  Resources/Locale/en-US/_Ronstation/species/species.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/full.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/head_f.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/head_m.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_arm.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_foot.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_hand.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/l_leg.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/meta.json
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_arm.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_foot.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_hand.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/r_leg.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/torso_f.png
  Resources/Textures/_Ronstation/Mobs/Species/Gingerbread/parts.rsi/torso_m.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Changes: C#, Changes: Map, Priority: 1-Urgent, Changes: UI

#8 Saltern job pool hotfix.
  Resources/Prototypes/_Ronstation/Maps/saltern-2.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review

#9 Further configurations (& a new terminal).
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
  Resources/Maps/_Ronstation/Misc/terminal.yml
Labels: Priority: 2-High

#18 Event rework.
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Priority: 1-Urgent, Type: Balancing

#17 Texture updates.
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Palettes/departmental.yml
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel0-auto_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel0-auto_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel0-manual_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel0-manual_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel1-auto_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel1-auto_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel1-manual_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel1-manual_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel2-auto_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel2-auto_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel2-manual_off.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/channel2-manual_on.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/lock0-unlocked.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/_Ronstation/Structures/Power/apc.rsi/lock1-unlocked.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 3-Medium

#21 Map updates, take 2
  Resources/Maps/_Ronstation/Shuttles/emergency_small.yml
  Resources/Maps/_Ronstation/cluster-funk.yml
  Resources/Maps/_Ronstation/omega-lul.yml
  Resources/Maps/_Ronstation/saltern-2.yml
  Resources/Prototypes/_Ronstation/Maps/atlas-b.yml
  Resources/Prototypes/_Ronstation/Maps/cluster-funk.yml
  Resources/Prototypes/_Ronstation/Maps/omega-lul.yml
  Resources/Prototypes/_Ronstation/Maps/saltern-2.yml
Labels: Type: Feature, Changes: YML, Status: Needs Review, Changes: Map, Priority: 2-High, Type: Cleanup

#22 Shorten emergency shuttle docking time.
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Changes: Config, Status: Needs Review, Priority: 2-High, Type: Balancing

#16 Expeditions, with two more difficulties and loot
  Resources/Prototypes/_Ronstation/Procedural/salvage_difficulties.yml
  Resources/Prototypes/_Ronstation/Procedural/salvage_loot.yml
Labels: Changes: YML, Status: Needs Review, Status: Do Not Merge

#20 Retextured shuttle flooring.
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 3-Medium

#23 Hotfix discord and hub link.
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Type: Bug, Changes: Config, Changes: YML, Status: Needs Review, Priority: 1-Urgent

#24 Made IPCs roundstart and disabled AnomalousPositronics trait.
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Type: Feature, Changes: YML, Priority: 3-Medium

#28 Make Nanotrasen Representative whitelisted.
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Medium, Type: Balancing

#26 Ronstation branding.
  LICENSE-MIT.txt
  README.md
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/source/EE_logo-dark.svg
  Resources/Textures/Logo/source/EE_logo-light.svg
  Resources/Textures/Logo/source/EE_logo.svg
  Resources/Textures/Logo/source/EE_splashlogo.svg
  Resources/Textures/Logo/source/ronstation_icon.svg
  Resources/Textures/Logo/source/ronstation_logo.svg
  Resources/Textures/Logo/splashlogo.png
  Resources/manifest.yml
Labels: Changes: YML, Priority: 3-Medium, Changes: Documentation

#33 Fix missing LeaveNoFTLBehind component.
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Type: Bug, Changes: YML, Status: Needs Review, Changes: C#, Priority: 1-Urgent, Type: Codebase

#32 Readd nitrogen tanks in lockers and emergency toolboxes.
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML, Status: Needs Review, Priority: 3-Medium, Type: Balancing

#29 Made running normal and disable space wind.
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Changes: Config, Changes: YML, Status: Needs Review, Priority: 3-Medium, Type: Balancing, Poll: Approved

#31 Added new rules.
  Resources/ConfigPresets/Ronstation/RonStation.toml
  Resources/Locale/en-US/_Ronstation/guidebook/guides.ftl
  Resources/Prototypes/_Ronstation/Guidebook/rules.yml
  Resources/ServerInfo/_Ronstation/Guidebook/ServerRules/RonstationRuleset.xml
Labels: Changes: Config, Changes: YML, Changes: Localization, Status: Needs Review, Changes: Documentation

#34 Extra hair!
  Resources/Locale/en-US/Ronstation/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Ronstation/Mobs/Customization/human_hair.rsi/fluffy.png
  Resources/Textures/Ronstation/Mobs/Customization/human_hair.rsi/marisa.png
  Resources/Textures/Ronstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Type: Feature, Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review, Priority: 4-Low

#37 Adds workstations.
  Resources/Prototypes/_Ronstation/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Ronstation/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/computer.png
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/generic.png
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/generic_keyboard.png
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/generic_mouse.png
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/meta.json
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/screen_error.png
Labels: Type: Feature, Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 5-Whenever

#38 Readd syndimothroaches
  Resources/Locale/en-US/ronstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ronstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Ronstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Ronstation/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/icon.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/inhand-left.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/inhand-right.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/meta.json
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/mothroach-moving.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/mothroach.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/mothroach_dead.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/mothroach_lazy.png
  Resources/Textures/Ronstation/Mobs/Animals/mothroach/syndimothroach.rsi/mothroach_sleep.png
  Resources/Textures/Ronstation/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Ronstation/Objects/Devices/communication.rsi/old-radio-syndimothroach.png
Labels: Type: Feature, Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review, Priority: 5-Whenever, Type: Port

#35 Modified marisa hair sprite.
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Ronstation/Entities/Mobs/Customization/human_hair.yml
  Resources/Textures/Ronstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Ronstation/Mobs/Customization/human_hair.rsi/classicmarisa.png
  Resources/Textures/_Ronstation/Mobs/Customization/human_hair.rsi/marisa.png
  Resources/Textures/_Ronstation/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 5-Whenever

#41 Smuggled Goods
  Resources/Prototypes/_Ronstation/Catalog/Cargo/cargo_smuggled.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/Crates/smuggled.yml
Labels: Changes: YML, Changes: Localization, Changes: Sprite, Status: Needs Review, Status: Do Not Merge

#44 Give brigmedic paramedic playtime requirements.
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: YML, Priority: 2-High, Type: Balancing

#43 Fix diagonal wall blending and renames windows, windoors, and chairs.
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review, Priority: 5-Whenever, Type: Cleanup

#39 Hotfix tabletop computers
  Resources/Prototypes/_Ronstation/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Textures/_Ronstation/Structures/Machines/workstation_computer.rsi/meta.json
Labels: Type: Bug, Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 2-High

#45 Make bedsheets eatable by moths.
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
Labels: Type: Feature, Changes: YML, Status: Needs Review, Priority: 5-Whenever

#40 Hotfix hair
  Resources/Locale/en-US/Ronstation/accessories/human-hair.ftl
  Resources/Locale/en-US/_Ronstation/accessories/human-hair.ftl
Labels: Type: Bug, Changes: YML, Changes: Localization, Priority: 3-Medium

#42 Update maps and ATS.
  Resources/Maps/_Ronstation/Shuttles/trading_outpost.yml
  Resources/Maps/_Ronstation/atlas-b.yml
  Resources/Maps/_Ronstation/cluster-funk.yml
  Resources/Maps/_Ronstation/omega-lul.yml
  Resources/Maps/_Ronstation/saltern-2.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Type: Bug, Changes: YML, Changes: Map, Priority: 3-Medium, Type: Balancing

#52 Magistrate whitelist.
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
Labels: Changes: YML, Priority: 2-High, Type: Balancing

#51 Fixed mime floor textures.
  Resources/Prototypes/Tiles/floors.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review

#47 Modify maps.
  Resources/Maps/_Ronstation/atlas-b.yml
  Resources/Maps/_Ronstation/cluster-funk.yml
  Resources/Maps/_Ronstation/omega-lul.yml
  Resources/Maps/_Ronstation/saltern-2.yml
  Resources/Prototypes/_Ronstation/Maps/atlas-b.yml
  Resources/Prototypes/_Ronstation/Maps/cluster-funk.yml
  Resources/Prototypes/_Ronstation/Maps/omega-lul.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Priority: 2-High

#49 Made slime colors a bit more interesting.
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/full.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/l_arm.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/l_foot.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/l_hand.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/l_leg.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/r_arm.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/r_foot.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/r_hand.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/r_leg.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/torso_f.png
  Resources/Textures/_Impstation/Mobs/Species/Slime/parts.rsi/torso_m.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 5-Whenever

#48 Job fixes.
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review, Priority: 1-Urgent, Type: Balancing

#50 Species rework, part 2.
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-Urgent
