Repository Merrokitsune/ronstation, pull requests merged in 2025-02, with the labels that each got.

#54 Map fixes.
  Resources/Maps/_Ronstation/omega-lul.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review, Changes: Map, Priority: 1-Urgent

#57 Lobby art
  Resources/Prototypes/Ronstation/lobbyscreens.yml
  Resources/Prototypes/_Ronstation/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/Ronstation/LobbyScreens/attributions.yml
  Resources/Textures/Ronstation/LobbyScreens/error.webp
  Resources/Textures/Ronstation/LobbyScreens/error.webp.yml
  Resources/Textures/Ronstation/LobbyScreens/hallway.webp
  Resources/Textures/Ronstation/LobbyScreens/hallway.webp.yml
  Resources/Textures/Ronstation/LobbyScreens/janitorialduties.webp
  Resources/Textures/Ronstation/LobbyScreens/janitorialduties.webp.yml
  Resources/Textures/Ronstation/LobbyScreens/terminalstation.webp
  Resources/Textures/Ronstation/LobbyScreens/terminalstation.webp.yml
  Resources/Textures/_Ronstation/LobbyScreens/attributions.yml
  Resources/Textures/_Ronstation/LobbyScreens/saltern2.webp
  Resources/Textures/_Ronstation/LobbyScreens/saltern2.webp.yml
Labels: Type: Feature, Changes: YML, Status: Needs Review, Priority: 3-Medium, Type: Port

#61 Game preset rework.
  Resources/Prototypes/WhiteDream/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Priority: 2-High, Type: Balancing, Type: Cleanup

#59 Fixed duplicate key guidebook issue.
  Resources/Prototypes/Guidebook/medical.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review, Priority: 5-Whenever

#58 Fix terminal missing mini gravitational generator.
  Resources/Maps/_Ronstation/Misc/terminal.yml
Labels: Type: Bug, Changes: YML, Status: Needs Review, Changes: Map, Priority: 2-High

#60 Race fixes.
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: Changes: YML, Status: Needs Review, Priority: 2-High, Type: Balancing, Type: Cleanup

#62 TOML fixes.
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Type: Bug, Priority: 1-Urgent

#71 Dignitary role updates.
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML

#70 New map updates
  Resources/Maps/_Ronstation/Shuttles/emergency_small.yml
  Resources/Maps/_Ronstation/Shuttles/trading_outpost.yml
  Resources/Maps/_Ronstation/atlas-b.yml
  Resources/Maps/_Ronstation/cluster-funk.yml
  Resources/Maps/_Ronstation/omega-lul.yml
  Resources/Maps/_Ronstation/saltern-2.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Priority: 2-High

#64 Syndicate qol revival
  Content.Server/Traitor/Components/AutoTraitorComponent.cs
  Content.Shared/NukeOps/NukeOperativeComponent.cs
  Resources/Locale/en-US/_Ronstation/store/uplink-catalog.ftl
  Resources/Prototypes/Nyanotrasen/Objectives/traitor.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_Ronstation/Catalog/Cargo/cargo_smuggled.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/Crates/smuggled.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/uplink_catalog.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/icon.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/inhand-left.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/inhand-right.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/meta.json
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/primed.png
Labels: Type: Feature, Changes: YML, Changes: Localization, Changes: Sprite, Changes: C#, Priority: 2-High

#67 Restricted bionic arm trait to security only.
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-Urgent, Status: Needs Discussion, Type: Balancing

#74 Update translators
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: YML, Status: Needs Review, Priority: 5-Whenever, Type: Balancing

#76 Update brigmedic blacklisted traits
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
Labels: Type: Bug, Changes: YML, Priority: 3-Medium

#75 Update alert evac times.
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: Changes: YML, Priority: 1-Urgent, Type: Balancing, Type: Cleanup

#77 Material Silo Loader
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Ronstation/Entities/Structures/Machines/material_silo_loader.yml
  Resources/Prototypes/_Ronstation/Recipes/Construction/Lathes/electronics.yml
  Resources/Textures/_Ronstation/Structures/Machines/material_silo_loader.rsi/icon.png
  Resources/Textures/_Ronstation/Structures/Machines/material_silo_loader.rsi/meta.json
  Resources/Textures/_Ronstation/Structures/Machines/material_silo_loader.rsi/operating.png
  Resources/Textures/_Ronstation/Structures/Machines/material_silo_loader.rsi/ready.png
Labels: Type: Feature, Changes: YML, Changes: Sprite, Status: Needs Review, Priority: 3-Medium

#84 masks for lathes
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Ronstation/Recipes/Lathes/clothing.yml
Labels: Type: Feature, Changes: YML, Priority: 5-Whenever

#100 Add breathing mask component to hardsuit helmets.
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: Type: Feature, Changes: YML, Status: Needs Review

#105 Disable space wind.
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/ConfigPresets/Ronstation/RonStation.toml
Labels: Changes: Config, Changes: YML, Status: Needs Review, Priority: 1-Urgent

#95 Fix arrivals terminal.
  Resources/Maps/_Ronstation/Misc/terminal.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#85 Alert levels shuttle timer rebalance.
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: Changes: YML, Priority: 2-High, Type: Balancing

#94 Event rework for ronstation
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review, Priority: 1-Urgent, Type: Balancing, Type: Cleanup
